# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# Lambda build artifacts
lambda/package/
lambda.zip

# dbt
dbt/tfl_dbt/target/
dbt/tfl_dbt/logs/
dbt/tfl_dbt/dbt_packages/

# macOS
.DS_Store

# Environment
.env
*.env

# AWS
*.pem
